.git
.github
.claude

**/node_modules
**/.next
**/out
**/dist
**/.turbo
**/output
**/.wxt
**/lib/generated

**/*.tsbuildinfo
npm-debug.log*
.env
.env.*
!.env.example
.DS_Store
README.md
backups
stats.html
